body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 27px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #c3bbb3; /* El color del fondo de la página web */
    color: #000000; /* El color del texto*/ 
}
h1 {
    color: #0800ff; /* El color de la cabecera */
    font-size: 30px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}